.purchase-container{
    width: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.25s ease;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.purchase-header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.purchase-check{
    height: 5rem;
    width: 5rem;
    margin: auto;
}

.purchase-para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.purchase-total{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.purchase-button{
    background-color: rgba(36, 36, 250, 0.87);
    border: none;
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}